# Database
DATABASE_URL=postgresql://postgres:YmbSec555@localhost:5433/smart_restaurant
DB_HOST=localhost
DB_PORT=5433
DB_NAME=smart_restaurant
DB_USER=postgres
DB_PASSWORD=YmbSec555

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d

# Server
PORT=3001
NODE_ENV=development
